{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



 {% load static %}

<!-- check static file here: https://docs.djangoproject.com/en/1.8/howto/static-files/-->
<p style = "margin-top:0px; text-align: center; "><img  src="{% static "mtaapp/images/training1.png" %}"  width = "60%" alt="My image"/></p>


<div align="center">
<h3 style ="margin-left:40px;">Notification</h3>


<div style="background:yellow;  width:300px; height:150px;">
{% if notifications.count > 0 %}
{% for notification in notifications %}
{{notification}}
<br>
{% endfor %}
{% endif %}
</div>
</div>



<!--
<h5 style ="margin-bottom:0px; margin-right:30px; float:right">Created by <a href="https://github.com/Josephfxw" >Xuewei(Joseph) Fan</a> for the MTA NYCT Training</h5>
-->
<h5 style ="text-align:center; position: fixed; bottom: 0;">Created by <a href="https://github.com/Josephfxw" >Xuewei(Joseph) Fan</a> for the MTA NYCT Training.</h5>
{% endblock %}
