<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://tens.nyct.com/mtatoday/departments/Training_Professional_Development/index_trng.html"><span class="glyphicon glyphicon-user"></span>Tens</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> CT & PD <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">Getting Started </a></li>
            <li><a href="/account/register">Register</a></li>

            <li class="divider"></li>
            <li><a href="/">Tutorial</a></li>
            <li><a href="/">Help</a></li>
          </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        {% if user.is_authenticated %} <!-- user is from request-->
           <a href="/"><span class="glyphicon glyphicon-book"></span> logout</a>

        {% else %}
           <a href="/account/login"><span class="glyphicon glyphicon-book"></span> Current Quarter</a>
        {% endif %}

      </li>
      <li class="">

           <a href="/account/login2"><span class="glyphicon glyphicon-book"></span>Next Quarter</a>


      </li>
    </ul>
  </div>
</nav>
